@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

:root
{
    --themeColor: #583977;
    --darkThemeColor: #352347;
    --secondaryThemeColor: #31AC41;
    --extremeDarkThemeColor: #20142c;
    --themeShade: rgba(41, 6, 49, 0.671);
}

button
{
    font-family: inherit;border: none;
}
input:focus {outline: none;border: none;}

::placeholder
{
    font-family: inherit;font-weight: bolder;
}

*
{
    margin: 0;padding: 0;box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
}

header
{
    width: 100%;height: fit-content;position: absolute;top: 0;left: 0;
}

.pre-header 
{
    height: 40px;position: relative;
}

.pre-header section
{
    width: 100%;background: var(--darkThemeColor);display: flex;;height: 100%;justify-items: center;align-items: center;
}

.pre-header section article
{
    width: 30%;text-align: center;color: white;font-size: .7vw;
}

.pre-header i
{
    padding-inline-start: 2%;;
}

nav 
{
    background-color: rgba(252, 240, 255, 0.144);
}

nav ul
{
    display: flex;align-items: center;justify-content: center;width: 90%;margin: 0 auto;
}

nav img 
{
    width: 60px;height: 60px;filter: grayscale(0%);;
}

nav li
{
    width: 12%;list-style-type: none;text-transform: uppercase;height: 100%;text-align: center;
    cursor: pointer;color: rgb(255, 255, 255);padding: .5% 0;;
}

.fa-caret-right
{
    transform: rotate(90deg);padding: 0 5%;opacity: 1;;
}

nav i
{
    transform: translateX(120%);opacity: 0;transition: .5s;
}

nav li:hover i
{
    opacity: 1; transform: translateX(-80%);
}
nav li:hover .fa-caret-right {transform: rotate(-90deg)}
.fa-search {opacity: 1;}


#intro 
{
    height: 100vh;width: 100%;background: rgba(47, 6, 56, 0.459);
    background-repeat: no-repeat;background-size: 100%;background-position: center;
    background-image: url('../img/assetFirstSectionImage.jpg');
    background-blend-mode: soft-light;display: flex;align-items: center;;
}

#intro section
{
    width: 45%;background-color: rgba(41, 6, 49, 0.671);height: fit-content;
    margin-inline-start: 15%;padding: 2% 4%;color: white;text-align: right;border-radius: 5px;
}

#intro span
{
    color: rgb(250, 230, 255);
}
#intro span i {color: var(--secondaryThemeColor)}

#intro h2
{
    font-size: 2.5vw;width: 90%;line-height:100%;padding: 2% 0;;
}

#intro article {padding: 4% 0;}

#intro h2, #intro span, #intro article {text-align: start;}

#intro button 
{
    width: 30%;height: 60px;background-color: var(--secondaryThemeColor);border: none;transition: .5s;
    color: rgb(255, 255, 255);margin-block: 2% 0;font-family: inherit;cursor: pointer;
}

#intro button:hover
{
    border-radius: 30px;
}


.apm 
{
    width: 100%;display: flex;justify-content: flex-end;height: 30vh;
}

.apm section
{
    display: flex;width: 55%;margin-top: -8%;height: 100%;box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.267);
}

.apm article:first-of-type
{
    background-color: var(--extremeDarkThemeColor);color: white;padding: 4%;
    width: 50%;
}


.apm h2 
{
    font-size: 1.5vw;padding: 2% 0;
}

.apm article:first-of-type p
{
    height: 50%;padding: 2% 0;;
}

.apm hr
{
    width: 30%;
}

.apm article:last-of-type
{
    background: white;padding: 4% 3%;
}
.apm input
{
    width: 46%;height: 50px;border: none;background: rgba(175, 169, 169, 0.39);
    margin: 1%;padding: 0 2%;font-family: inherit;border-radius: 3px;
}

.apm input:focus, .apm input:hover
{
    border: none;outline: none;
}

.apm i
{
    display: none;
}

.apm input[type="submit"]
{
    width: 95%;background-color: var(--extremeDarkThemeColor);color: white;transition: .5s;
}

.apm input[type="submit"]:hover
{
    background-color: rgb(54, 9, 75);box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.123);
    font-weight: bolder;
}

#about-div 
{
    display: flex;align-items: center;justify-content: center;height: 80vh;background-size: 25%;background-position-x: -3%;background-position-y: -30%;
    background-image: url("../img/istockphoto-1061122134-612x612.jpg");background-repeat: no-repeat;
}

#about-div div:first-of-type
{
    width: 35%;height: fit-content;padding: 1%;;
}

#about-div div:first-of-type span
{
    color: var(--themeColor);font-weight: bolder;text-transform: uppercase;
}

#about-div div:first-of-type h1
{
    font-size: 2vw;width: 100%;line-height: 100%;padding-top: 2%;text-transform: uppercase;color: var(--secondaryThemeColor);
}

#about-div div:first-of-type p:first-of-type
{
    padding: 2% 0;width: 90%;
}

#about-div div:first-of-type article:first-of-type
{
    color: grey;display: flex;align-items: center;
}
#about-div div:first-of-type article:first-of-type aside i {font-size: 2vw;color: var(--themeColor);padding-block: 4%;}
#about-div div:first-of-type ul {width: 50%;margin-left: 5%;}#about-div div:first-of-type article:first-of-type aside {text-transform: uppercase;}
#about-div div:first-of-type li {list-style-type: none;padding: 1% 0;}#about-div div:first-of-type #big {font-size: 1.8vw;font-weight: bolder;}
#about-div div:first-of-type li i {font-size: .8vw;color: var(--themeColor);}#about-div div:first-of-type em {font-size: 1vw;text-transform: lowercase;}

#about-div div:first-of-type article:last-of-type
{
    width: 100%;display: flex;align-items: center;;
}
#about-div div:first-of-type article:last-of-type button
{
    width: 50%;height: 60px;background-color: var(--themeColor);color: white;
}
#about-div div:first-of-type article:last-of-type p {display: flex;align-items: center;margin: 0 2%;}
#about-div div:first-of-type article:last-of-type p i {color: var(--themeColor);margin: 0 2%;font-size: 1.5vw;padding: 3%;border-radius: 50%;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.205);}
#about-div div:first-of-type article:last-of-type p span b {text-transform: uppercase;color: grey;}#about-div div:first-of-type article:last-of-type p span {color: black;}

#about-div div:last-child
{
    display: flex;align-items: center;justify-content: center;width:35%;height: 90%;border: 2px solid var(--themeColor);
}

#about-div div:last-child section
{
    width: 50%;height: 95%;position: relative;display: flex;flex-direction: column;align-items: center;justify-content: center;
}
#about-div div:last-child section:first-of-type figure
{
    width: 90%;height: 45%;margin: 3% 0;background-repeat: no-repeat;background-size: cover;
    background-image: url("../img/rigTower.jpg");
}
#about-div div:last-child section:first-of-type figure:first-of-type {background-image: url("../img/rov.jpeg");}
#about-div div:last-child article
{
    width: 60%;height: 150px;padding: 5% 0;display: flex;flex-direction: column;;justify-content: center;align-items: center;
    background-color: whitesmoke;position: absolute;bottom: -5%;line-height: 150%;right: -5%;z-index: 1;
}
#about-div div:last-child article b
{
    font-size: 2vw;font-weight: bolder;
}#about-div div:last-child article span {color: var(--themeColor);text-transform: uppercase;font-weight: bolder;letter-spacing: 3px;}

#about-div div:last-child section:last-of-type figure
{
    width: 100%;height: 100%;transform: translate(2%, -5%);background-size: cover;background-repeat: no-repeat;
    background-image: url("../img/pexels-martin-damboldt-799091.jpg");
}

#partners
{
 display: flex;align-items: center;background: var(--extremeDarkThemeColor);;color: white;width: 80%;justify-content: center;
 height: 25vh;
}

#partners section:first-of-type
{
 width: 30%;
}
#partners section:first-of-type h4
{
 font-size: 1.5vw;
}
#partners section:first-of-type article {width: 70%;padding-block: 5% 7%;}
#partners section:first-of-type hr {width: 40%;height: 3px;}

#partners section:last-of-type
{
 width: 60%;display: flex;align-items: center;justify-content: center;
}

#partners section:last-of-type img 
{
 width: 30%;margin: 0 1%;;
}

#phx 
{
 width: 100%;height: 70vh;display: flex;align-items: center;justify-content: center;
}

#phx div:first-of-type {width: 40%;height: 95%;display: flex;align-items: center;position: relative;margin-inline-end: 3%;}
#phx div:first-of-type section {width: 90%;;display: flex;align-items: center;background: red;height: 80%;position: relative;}
#phx div:first-of-type section figure 
{
    width: 55%;height: 90%;background: yellow;;
}
#phx div:first-of-type section:last-of-type {
    position: absolute;right: 0;top: 0;background-color: brown;z-index: 1;
    width: 50%;
}
#phx div:first-of-type section:last-of-type figure {width: 100%;height: 100%;}
#phx div:first-of-type section article 
{
    position: absolute;height: fit-content;padding: 4%;background: white;display: grid;place-items: center;line-height: 100%;
    right: 40%;bottom: 0;z-index: 2;
}










#phx div:last-of-type 
{
    width: 30%;
}