@media screen and (max-width: 950px) 
{
 footer {height: fit-content;padding: 0;padding-block: 7% 0;}
footer section {width: 85%;height: fit-content;margin: 0 auto;padding: 2% 0;}footer div:first-of-type {width: 100%;padding: 2% 0;display: block;}
footer hr {width: 30%;}footer section:nth-of-type(2), footer section:nth-of-type(3) {width: 80%;margin: 0 auto;}footer h1 {text-transform: uppercase;height: 10%;}
footer section:nth-of-type(2) hr, footer section:nth-of-type(3) hr {width: 30%;}footer article {height: 88%;padding-block-start: 8%;}
footer img {width: 80%;;padding: 4%;}footer section:first-of-type p {width: 95%;padding: 1% 0;}
footer ul {height: 80%;;}footer li i {color: var(--secondaryThemeColor)}footer section:last-of-type i {padding: 2%;font-size: 100%;color: var(--secondaryThemeColor)}
footer div:last-of-type {font-size: 60%;display: block;;text-align: center;;}
footer div:last-of-type p:first-of-type {width: 100%;}
}